/*@import url('https://fonts.googleapis.com/css2?family=Faster+One:wght@100;200;300;400;500;600;700');*/
/*@import url('https://fonts.googleapis.com/css2?family=Faster+One:wght@100;200;300;400;500;600;700|Geostar|Londrina+Shadow');*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Faster+One&family=Geostar&family=Londrina+Outline:wght@100;200;300;400;500;600;700&family=Londrina+Shadow&display=swap");

/*-------------------------------------------------Navbar */
#logo {
  /*float: left;
   margin-top: 0.5rem;
   margin-left: 30px; 
   margin-right: 20px;*/
  font-family: "Audiowide";
  /*font-weight: 600;
   font-size: 5em;
   color: black;*/
}

#logo-sub {
  /*float: left;
    margin-top: 4.5rem;
    margin-left: 1rem;
    font-family: "Audiowide";
    color: black;*/
  display: inline;
  font-family: "Audiowide";
}

#logo-nav {
  display: inline-block;
}

.navbar-light {
  background-color: black;
}

.navbar-light .navbar-brand {
  color: #f8f9fa;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f8f9fa;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.menu-item {
  margin-left: 3em;
}

/*--------------------------------------------------------Home--*/
/*.container-home {
  background: url("eclipse.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.container-home {
  height: 100vh;
  background: url("../images/eclipse.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*.jumbotron {
    background-color: transparent;
}*/

.col {
    max-width: 75%;
}

.form-group{
    margin-bottom: 0;
   /* margin-right: 1rem;
    background-color: #006dcc;*/
}

/*.form-label{
    color: white;
}*/

.form-control{
    border-radius: 0;
    /*border: none;*/
}

.fixed-bottom {
    position: absolute;
}

.signup-form {
  /*margin-top: 150px;
  margin-left: 35rem;
  margin-right: 2rem;*/
  color: #fff;
  background-color: rgba(60, 60, 60, 0.6);
  max-width: 400px;
  /*position: absolute; 
  left: 10%;*/
  padding: 20px 20px 20px 20px;
}

.text-input{
  background: transparent;
  color: #fafafa;
  /*width: 100%;*/
  height: 25px;
  /*margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;*/
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 5px 12px 5px 12px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: #fafafa;
  display: block;
}

.join-button:hover{
    background-color: #fafafa;
    color: #f16c6b
  }


/*.form-background{
  padding: 30px 0;
  background-color: #006dcc;
}*/

p{
color: white;
}

/*--------------------------------------------------------About--*/
.container-about {
  height: 100vh;
  background: url("../images/croydon.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*--------------------------------------------------------Mixes--*/
.container-mixes {
  height: 100vh;
  background: url(../images/london-outside-people.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*--------------------------------------------------------Dates--*/
.container-dates {
  height: 100vh;
  background: url(../images/djdecks.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*--------------------------------------------------------Contact--*/
.container-contact {
  height: 100vh;
  background: url(../images/streetlights.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/*.img-croydon {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}*/

/*----------------------------------------------------------------Media Queries*/

@media (max-width: 400px) {
    #logo-sub{
       font-size: 0.75rem;
       /*display: none;*/
    }
    /*#logo-sub{
  display:none;
  font-size:0.75rem;*/
}

/*@media (min-width: 992px){
#logo {
  font-size: 5rem;
}
}
/*@media (min-width: 992px){
.navbar-expand-lg {
  background-color: red !important;
}
}*/
