@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee+Shade&family=Faster+One&family=Geostar&family=Londrina+Outline:wght@100;200;300;400;500;600;700&family=Londrina+Shadow&family=Oleo+Script:wght@400;700&family=Racing+Sans+One:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/*-------------------------------------------------Navbar--*/
.font-audiowide {
  font-family: "Audiowide", sans-serif;
}

#logo-sub {
  display: inline;
  font-family: "Audiowide", sans-serif;
}

#logo-nav {
  display: inline-block;
}

.navbar-light {
  background-color: black;
}

.navbar-light .navbar-brand {
  color: whitesmoke;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: whitesmoke;
}

.navbar-light .navbar-nav .nav-link {
  color: whitesmoke;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg Box='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/*-- Code for custom-toggler here: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color --*/

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.navbar-toggler:focus {
    background-color:#15181a;
    outline: none;
}
/*-- Code for navbar toggler background color and outline change here: https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-bootstrap-4 --*/

.menu-item {
  margin-left: 3em;
}

.navbar-nav .nav-link:hover {
    color:#0664c6!important;
}

.navbar-brand:hover {
    color:whitesmoke!important;
}

/*-------------------------------------------------General (All pages excluding Home)--*/

.page-heading {
  font-family: "Audiowide", sans-serif;
  color: whitesmoke;
  justify-content: start;
  margin-bottom: 40px;
  margin-top: 20px
}

/*-------------------------------------------------Home--*/

.container-home {
  background: url("../images/djdecks2.jpg") no-repeat bottom right fixed;
  /*--Image from Nikolai Chernichenko - https://unsplash.com/@perfectcoding?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText--*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 85px 20px 85px 20px;
}

.container-home .row {
  margin-right: 0px;
  margin-left: 0px;
  justify-content: center;
}

.toprow-home {
  margin-top: 75px;
}

.jumbotron {
    color: whitesmoke;
    justify-content: center;
    background-color: transparent;
    margin-top: auto;
    padding: 0; 
}

.lead {
    font-family: "racing sans one", sans-serif;
    font-weight: 400;
}

.container-home col-md-6 {
    padding-right: 14px;
    padding-left: 14px;
    }

.signup {
    justify-content: flex-end;
}

.signup-form {
  color: whitesmoke;
  background-color: rgba(60, 60, 60, 0.8);
  max-width: 316px;
  flex: 400px;
  min-width: 0;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control {
  border-radius: 0;
  padding-top: 0.2rem;
  /*--Padding-top edited to enable placeholder text to be viewable in IE11--*/
}

.text-input {
  background: transparent;
  color: whitesmoke;
  height: 25px;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 5px 12px 5px 12px;
  text-align: center;
  font-size: 100%;
  background-color: #f16c6b;
  color: whitesmoke;
  display: block;
}

.join-button:hover {
  background-color: whitesmoke;
  color: #f16c6b;
}

.twitter-timeline {
    min-width: 0px!important;
    display: flex!important;
}

/*-------------------------------------------------About--*/

.container-about {
  background: url("../images/croydon.jpg") no-repeat center center;
  /*--Image from Pulse-v2 - https://www.deviantart.com/pulse-v2/art/Croydon-Skyline-16563186--*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 85px 20px 85px 20px;
}

.container-about .row {
  margin-right: 5px;
  margin-left: 5px;
}

/*--To center portrait image below 576px--*/
.container-about .col-md-5 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
/*--End portrait image center--*/
  
.container-about p {
  color: whitesmoke;
  font-family: "Roboto Mono", sans-serif;
}

.portrait {
  margin-top: 20px;
}

/*-------------------------------------------------Mixes--*/

.container-mixes {
  background: url(../images/nightclub.jpg) no-repeat center center;
  /*--Image from Fred Moon - https://unsplash.com/@fwed?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText--*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 85px 20px 85px 20px;
}

.container-mixes .row {
    justify-content: center;
}

.music-set {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    border: 0px;
}

.music-set1 {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, "Lucida Grande", "Lucida Sans Unicode",
    "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: 0px;
}

.music-set2 {
    padding-top: 20px;
    width: 100%;
    border: 0px;
}

/*-------------------------------------------------Dates--*/

.container-dates {
  background: url(../images/blue-disco.jpg) no-repeat center center;
  /*--Image from Raphael Schaller - https://unsplash.com/@raphaelphotoch?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText--*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 85px 30px 85px 30px;
}

.container-dates .row {
  justify-content: center;
}

.dates-table {
    margin-top: 20px;
}

/*--Add margin-top to email address element & buttons in modal form--*/
.form-format {
    margin-top: 20px;
} 

/*--Add white background color for placeholder in modal form--*/
.container-dates .text-input {
  background: transparent;
  color: black;
  height: 25px;
  background-color: whitesmoke;
}

/*--Formatting for cross in top right of booking form--*/
.close {
    float: right;
    text-shadow: none!important;
}

/*--Move Book and Close buttons to right on booking form--*/
.button-book {
    float: right;
    margin-left: 10px;
}

/*-------------------------------------------------Contact--*/
.container-contact {
  background: url(../images/djdecks.jpg) no-repeat center center;
  /*--Image from Alexander Popov - https://unsplash.com/@5tep5?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText--*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 85px 30px 85px 30px;
}

.container-contact .row {
  justify-content: center;
}

.contact-form {
  color: whitesmoke;
  background-color: rgba(60, 60, 60, 0.9);
  max-width: 400px;
  flex: 400px;
  min-width: 0;
  padding: 20px 20px 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*--Override width properties for Contact form--*/
.container-contact .row .form-control {
  display: inline;
}

/*-------------------------------------------------Media queries--*/

/*--Home page font-size media queries--*/
@media (min-width: 0px) {
.container-home h1 {
      font-size: 3.75rem;
  }

  .container-home h3 {
      font-size: 2.0rem;
  }
}

@media (min-width: 320px) {

.container-home h1 {
      font-size: 4.5rem;
  }

  .container-home h3 {
      font-size: 2.0rem;
  }
}

@media (min-width: 576px) {

.container-home h1 {
      font-size: 6.5rem;
  }

  .container-home h3 {
      font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  
  .container-home h1 {
      font-size: 7.5rem;
  }

  .container-home h3 {
      font-size: 3.0rem;
  }
}

/*--Home page center align sign-up form & Twitter feed below 768px--*/
@media (max-width: 768px) {
  .signup-form {
    margin-left: auto!important;
    margin-right: auto;
  }

.twitter-timeline {
    margin-left: auto!important;
    margin-right: auto;
}
}

/*--Dates page Ensure dates-table does not display less than 425px for tablet and above--*/
@media (min-width: 576px){
.dates-table {
    min-width: 425px;
}
}

/*--Remove padding for Home and About pages under 450px to improve alignment with other pages--*/
@media (max-width: 450px){
.container-home .col-md-6, .container-home .col-sm-12, .container-about .col-md-6, .container-about .col-lg-6, .container-about .col-md-5, .container-about .col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.container-about .col-md-6, .container-about .col-lg-6 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
}

